/*  здесь установлены стили для  устройств с разными разрешениями */

@media screen and (max-width:1200px) {
    /* стил к header */
    header {
        max-width:1200px;
    }
    .menu {
        flex-direction: column;
    }
    
    .menu-handle {
        display:none;
    }
    .header-bg {
        position:realtive;
        width:100%;
    }
    .header-discription {
        width:100%;
        position:absolute;
        left:0;
        top:0;
    }
    /* стили к блоку с карточками */
    
    section {
        max-width:1200px;
        flex-direction:row;
        flex-wrap:wrap;
    }
    .advantage-wrapper {
        margin-bottom: 20px;
    }
    /* стили к footer */
    
    .footer-menu h4 {
        margin-bottom: 100px;
    }
    .footer-menu p {
        font-style:16px;
        line-height: 32px;
    }

}

@media screen and (max-width:992px) {
    /* стили к header menu */
    header {
        width: 100%;
    }
    .menu {
        width:100%;
        background-color:#5A30F0;
        margin: 0 0;
        display:table;
        transform:translateY(-100%);
        transition: 0.5s;
        position:fixed;
        z-index:5;
        box-sizing: border-box;
    }
    .menu nav {
        flex-direction: column;
        text-align: center;
        box-sizing: border-box;
    }
    .menu nav a{
        margin:5px auto; 
    }
    
    .btnFix {
        position: fixed;
        left:10px;
        top:110%;
    }
    .showList {
        transform:translateY(0px);
        
    }

/* стили к блоку с карточками */

section {
    max-width:992px;
    flex-direction:row;
    flex-wrap:wrap;
}

.advantage-wrapper {
    margin-right: 20px;
}

/* стили к footer */
    .footer-menu {
        padding-left:30px;
    }
    .footer-menu h4 {
        margin-bottom: 50px;
    }
    .footer-menu p {
        font-style:10px;
        line-height: 16px;
    }
    /* стили к кнопке */
    .order-cleaning {
        display:none;
    }


}

@media screen and (max-width: 768px){
    /* стили к header  */
    .header-title h1 {
        font-size:45px;
        line-height: 50px;
    }
    section {
        margin-bottom: 50px;
    }
    /* стили к footer */
    footer {
        min-height:412px;
    }
    .footer-menu {
        width: 30%;
        padding-left:10px;
    }
    .footer-menu h4 {
        margin-bottom: 25px;
    }
    .footer-menu p {
        font-style:10px;
        line-height: 16px;
    }
}

@media screen and (max-width: 576px){
    /* стили к header  */
    .header-title h1 {
        font-size:35px;
        line-height: 41px;
    }

    .how-we-are-working {
        flex-direction: column;
    }
    .how-we-are-workink-title {
        width:100%;
        font-size:25px;
    }

    /* стили к footer */
    
    .footer-menu {
        
        width: 40%;
        padding-top:5px;
        padding-left: 5px;
    }
    .footer-menu h4 {
        margin-bottom: 12px;
    }
    .footer-menu p {
        font-style:8px;
        line-height: 14px;
    }
}




























