* {
    margin:0;
    padding:0;
}

body {
    width: auto;
}

/* ------ стили к header ------*/

header {
    height:800px;
    display:flex;
    position:relative;
}
.menu {
    height:70px;
    display:flex;
    flex-direction: row;
    width:90%;
    margin:0 auto;
    padding: 10px 0px;
    justify-content: space-between;
}
.menu-handle h2 {
    font-family:TTTravels-Bold;
    
}
.menu nav a{
    font-family: TTTravels-Regular;
    text-decoration: none;
    margin:0 16px;
    color:#404040;
    font-size: 19px;
    letter-spacing: 0.2px;
}
.menu .menu-phone {
    font-family: TTTravels-Medium;
    color:#404040;
    font-size:16px;
    letter-spacing: 0.2px;
}

.header-discription {
    position:absolute;
    top:0;
    right:0;
    z-index: -1;
}
.header-title {
    width:401px;
    margin:221px auto;
    color:#404040;
}
.header-title h1 {
    font-family: TTTravels-Regular;
    font-size:76px;
    line-height: 83px;
    vertical-align: top;
}
.header-title p {
    font-family:TTTravels-Light;
    font-size:18px;
    line-height: 25.2px;
}

.header-bg {
    background-image: url('../images/headerBg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width:50%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    z-index: -1;
}

.header-discription {
    width:50%;
    height:100%;
}

/* ------ стили к блоку с карточками ------  */

section {
    
    margin:73px 4.1% 149px 4.1%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.advantage-wrapper {
    
    position:relative;
    height:328px;
    width:300px;
    background-color:#5A30F0;
    padding:30px;
    box-sizing: border-box;
    border-radius: 8px;
}
.advantage-wrapper > p {
    text-align:left;
    font-family:TTTravels-Light;
    font-size:16px;
    line-height: 22.4px;
    color:#FFFFFF;
}
.advantage-wrapper:hover > div {
    z-index:-1;
}

.advantages {
    height:100%;
    width:100%;
    background-color:#F3F6FB;
    position:absolute;
    left:0;
    top:0;
    border-radius: 8px;
}

.advantages p {
    font-family: TTTravels-Regular;
    line-height: 31.2px;
    font-size:24px;
    text-align: center;
    padding:20px 40px 0px 40px;
}
.first-advantage {
    background-image: url('../images/advantage1.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 50%;
}

.second-advantage {
    background-image: url('../images/advantage2.1.png'),
                url('../images/advantage2.2.png'),
                url('../images/advantage2.3.png');
    background-position: 55px bottom, 119px bottom, 190px bottom; 
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 20%;
}
.third-advantage {
    background-image: url('../images/advantage3.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 65%;
}
.fourth-advantage {
    background-image: url('../images/advantage4.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 65%;
}

/* ------ стили к блоку how we are working ------ */

.how-we-are-working {
    width:76%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 52px;
}
.how-we-are-workink-title, .how-we-are-workink-discription {
    width:50%;
}
.how-we-are-workink-title h2 {
    font-family:TTTravels-Light;
    font-size:54px;
    line-height: 52.8px;
    color:#404040;
}
.how-we-are-workink-discription p {
    font-family:TTTravels-Light;
    font-size: 18px;
    line-height: 25.2px;
    color:#404040;
}


/* ------ стили к footer ------*/

footer  {
    width:100%;
    display:flex;
}
.footer-menu {
    box-sizing: border-box;
    background-color:#5A30F0;
    transform:translateX(-100%);
    
    width:25%;
    padding-top: 35px;
    padding-left: 60px;
    color:white;
}
.footer-menu h4 {
    font-family: TTTravels-Regular;
    font-size:16px;
    line-height: 20.8px;
    margin-bottom: 200px;
}
.footer-menu p {
    font-family: TTTravels-Light;
    font-size:25px;
    line-height: 52.8px;
    margin-bottom:22px;
    text-transform: uppercase;
}
.footer-menu p:hover {
    cursor:pointer;
    color:goldenrod;
}
.footer-images {
    transform:translateX(-17%);
    width:75%;
}
.footer-image {
    width:100%;
    height:80%;
}
 
/* --- анимация к елементам footer --- */ 

@keyframes showMenu {
    from {transform:translateX(-100%);}
    to {transform:translateX(0%);}
}

.footer-menu-move-right {
    animation-name: showMenu;
    animation-delay:0s;
    animation-duration:1s;
    animation-fill-mode: forwards;
}

@keyframes moveSlide {
    from {transform:translateX(-17%);}
    to {transform:translateX(0);}
}

.footer-slider-move-right {
    animation-name: moveSlide;
    animation-delay:0s;
    animation-duration:1s;
    animation-fill-mode: forwards;
}

/*------  стили к кнопке ------*/

.order-cleaning {
    width:190px;
    height:190px;
    background-color:#5A30F0;
    border-radius:50%;
    position:fixed;
    left:50%;
    margin-left:-90px;
    bottom:0;
}

.order-cleaning > p {
    margin:40% auto;
    width:84%;
    font-family: TTTravels-Regular;
    font-size:120%;
    line-height: 23.4px;
    color:white;
    text-transform: uppercase;
    text-align: center;
    transform:rotateZ(-25deg);
}
/* --- анимация к кнопке --- */

@keyframes smallBtn {
    from {width: 190px; height:190px;}
    to {width: 150px; height:150px;}
}
.order-btn-animation-to-small {
    animation-name: smallBtn;
    animation-delay:0s;
    animation-duration:1.5s;
    animation-fill-mode: forwards;
}

@keyframes growBtn {
    from {width: 150px; height:150px;}
    to {width: 190px; height:190px;}
}
.order-btn-animation-to-grow {
    animation-name: growBtn;
    animation-delay:0s;
    animation-duration:1.5s;
    animation-fill-mode: forwards;
}

@keyframes btnGoOut {
    from {bottom:0; width:150px; height:150px;}
    to {bottom: -200px; width:150px; height:150px; }
}
.order-btn-animation-to-out {
    animation-name: btnGoOut;
    animation-delay:0s;
    animation-duration:1.5s;
    animation-fill-mode: forwards;
}

@keyframes btnShow {
    from {bottom: -200px; width:150px; height:150px; }
    to{bottom:0; width:150px; height:150px; }
}
.order-btn-animation-to-show {
    animation-name:btnShow;
    animation-delay:0s;
    animation-duration:1.5s;
    animation-fill-mode: forwards;
}





